#nav {
	background-color: #000;
	position: fixed;
	width: 102%;
	z-index: 100;
}
#logo {
	margin: 10px 5px 10px 5px; 
	text-align: center; 
	color: #fff;
	text-decoration: none;
}
#main-tab {
	text-align: center;
	margin-top: 32vh;
}
#main-content {
	background-color: #fff;
	padding-bottom: 5vh;
	padding-top: 5vh;
	padding-right: 7vh;
	padding-left: 7vh;
	border-radius: 1%;
}
#get_quote {
	 color: #fff; 
	 background-color: #000;
}
#twitter {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}